.debug{
    border: 1px solid red;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'sans-serif';
}

body {
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
}

header {
    width: 100vw;
    height: 100px;
    background-color: #FFF159;
    display: flex;
    justify-content: center;
}

nav {
    width: 1512px;
    display: flex;
    justify-content:space-evenly;  
}

nav div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav span{
    text-align: center;
}


.search{
    width: 600px;
}

nav div{
    margin: 10px 0;
}

nav input{
    width: 100%;
    height: 34px;
    padding: 7px 0px 9px 15px;
    font-size: 15px;
    color: #BFBFBF;
    border: #BFBFBF 1px solid;
    border-radius: 2px;
}

nav ul a {
    margin-right: 10px;
    color: #857F43;
}

.account {
    text-align: end;
}

.principal-imagen{
    width: 100vw;
}

section {
    width: 100vw;
    background-color: #EBEBEB;
}

.secciones{
    display: flex;
    justify-content: center;
}

.seccion{
    width: 1300px;
    margin: 28px 0;
}

.medios-de-pago {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding-block: 24px;
    border-radius: 6px;
}

.medio-de-pago{
    display: flex;
}

.info-de-pago{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.info-de-pago a {
    color: #3483FA;
}

.ofertas{
    display: flex;
    flex-direction: column;
}

.header-seccion {
    display: flex;
    align-items: end;
    margin: 28px 0;
}

.header-seccion span{
    color: #666666;
    font-size: 25px;
    margin-right: 18px;
}

.header-seccion a{
    color: #3483FA;
    font-size: 15px;
}

.header-seccion h3{
    color: #666666;
    font-size: 25px;
    font-weight: bold;
    margin-right: 18px;
}

.container-ofertas{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.card{
    background-color: white;
    padding-left: 16px;
    padding-bottom: 58px;
    border-radius: 4px;
}

.card-precio{
    font-size: 23px;
    color: #333333;
}

.card-descuento{
    font-size: 14px;
    color: #00A650;
}

.card-envio{
    font-size: 13px;
    font-weight:bold;
    color: #00A650;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.header-suscripcion{
    padding: 24px;
    background: linear-gradient(to right, #A90F90, #0C1A51);
    color: white;
    border-radius: 6px 6px 0 0;
}

.titulo-suscripcion{
    font-size: 25px;
    font-weight: 900;
}

.precio-suscripcion{
    font-size: 22px;
    font-weight: bold;
}

.precio-suscripcion-antes{
    font-size: 14px;
    text-decoration: line-through;
}

.border-left {
    border-left: 2px solid;
    padding-left: 7px;
}

.container-suscripcion{
    background-color: #fff;
    padding: 24px;
    border-radius: 0 0 6px 6px;
}

.beneficio{
    width: 25%;
}

.btn-suscripcion{
    display: flex;
    justify-content: end;
    border-top: #e7e7e7 1px solid;
    padding-top: 24px;
    margin-top: 24px;
}

.container-suscripcion input{
    background-color: #3483FA;
    border-radius: 10px;
    border: 0 solid;
    width: 124px;
    height: 48px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.beneficio-mercado-puntos{
    width: 384px;
    height: 250px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 16px;
    color: white;
}
.info-beneficios-mp{
    margin-left: 16px;
    justify-content: center;
}

.info-beneficios-mp .titulo{
    font-size: 22px;
    font-weight: bold;
}

.info-beneficios-mp .info{
    font-size: 17px
}

.info-beneficios-mp .little-text{
    font-size: 11px;
    font-weight: bold;
}

.item-descubre{
    background-color: #fff;
    color: #4B4B4B;
    align-items: center;
    padding-left: 32px;
    border-radius: 4px;
    width: 48%;
}

.item-descubre .little-text{
    font-size: 10;
    font-weight: bold;
}

.item-descubre .titulo{
    font-size: 28px;
    font-weight: bold;
}

.item-descubre input{
    width: 96px;
    height: 36px;
    background-color: #3483FA;
    color: #fff;
    border-radius: 10px;
    border: 0 solid;
}

.info-coleccion{
    background-color: #fff;
    border-radius: 4px;
    color: #4B4B4B;
}

.info-coleccion h5{
    font-size: 12PX;
    font-weight: bold;
    margin: 20px 25px;
}

.info-coleccion h3{
    font-size: 28PX;
    font-weight: 900;
    margin: 20px 25px;
}

.categoria{
    width: 14%;
    height: 170px;
    background-color: #fff;
    text-align: center;
    justify-content: center;
}

.end-seccion{
    background-color: #fff;
    border-bottom: #E6E6E6 1px solid;
    padding: 40px 310px;
    text-align: center;
}

.card-end{
    width: 33%;
    padding: 10px;
    justify-content: start;
}

.card-end h3{
    font-size: 19px;
}

.card-end span {
    color: #999999;
    font-size: 15px;
    margin: 20px 0;
}

.card-end a {
    color: #3483FA;
    font-size: 13px;
}

footer{
    padding: 20px 310px;
    font-size: 12px;
}

footer > span{
    color: #999999;
}



.fondo-disney{
    background-image: url("media/img/fondo-disney.png")
}

.fondo-hbo{
    background-image: url("media/img/fondo-hbo.png")
}

.fondo-param{
    background-image: url("media/img/fondo-param.png")
}

.flex-space-between-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.gap10{
    gap: 10px;
}

.gap20{
    gap: 20px;
}

